# Pandas Web

In [1]:
import pandas as pd

In [2]:
table = pd.read_html('https://en.m.wikipedia.org/wiki/Template:COVID-19_pandemic_data')  
df = table[0]
df.tail()

                                           Location[a]  \
                                    Unnamed: 0_level_1
226                                                NaN
227                                                NaN
228                                                NaN
229  As of 21 September 2020 (UTC) · History of cas...
230  Notes ^ Location: Countries, territories, and ...

                                                        \
                                              World[e]
226                                               Saba
227                                           Anguilla
228                                       Tanzania[bf]
229  As of 21 September 2020 (UTC) · History of cas...
230  Notes ^ Location: Countries, territories, and ...

                                              Cases[b]  \
                                            31,033,397
226                                                  5
227                                                  3
228                                            No data
229  As of 21 September 2020 (UTC) · History of cas...
230  Notes ^ Location: Countries, territories, and ...

                                             Deaths[c]  \
                                               960,736
226                                                  0
227                                                  0
228                                            No data
229  As of 21 September 2020 (UTC) · History of cas...
230  Notes ^ Location: Countries, territories, and ...

                                             Recov.[d]  \
                                            21,256,938
226                                                  5
227                                                  3
228                                            No data
229  As of 21 September 2020 (UTC) · History of cas...
230  Notes ^ Location: Countries, territories, and ...

                                                  Ref.
                                                   [2]
226                                              [324]
227                                              [325]
228                                         [327][328]
229  As of 21 September 2020 (UTC) · History of cas...
230  Notes ^ Location: Countries, territories, and ...

In [3]:
df.head()

         Location[a]                     Cases[b] Deaths[c]  Recov.[d]  \
  Unnamed: 0_level_1          World[e] 31,033,397   960,736 21,256,938
0                NaN  United States[f]    6863854    202409    3705509
1                NaN             India    5487580     87882    4396399
2                NaN         Brazil[g]    4554629    136895    3851227
3                NaN         Russia[h]    1109595     19489     911973
4                NaN              Peru     768895     31369     615255

       Ref.
        [2]
0       [9]
1      [10]
2  [13][14]
3      [15]
4  [16][17]

In [4]:
df.columns

MultiIndex([('Location[a]', 'Unnamed: 0_level_1'),
            ('Location[a]',           'World[e]'),
            (   'Cases[b]',         '31,033,397'),
            (  'Deaths[c]',            '960,736'),
            (  'Recov.[d]',         '21,256,938'),
            (       'Ref.',                '[2]')],
           )

In [5]:
df.columns =["Nan","Country","Cases","Deaths","Recovery","ref"]

In [6]:
df.drop(columns=["Nan","ref"], inplace=True)

In [7]:
df.head(60)

                 Country    Cases  Deaths Recovery
0       United States[f]  6863854  202409  3705509
1                  India  5487580   87882  4396399
2              Brazil[g]  4554629  136895  3851227
3              Russia[h]  1109595   19489   911973
4                   Peru   768895   31369   615255
5               Colombia   765076   24208   633199
6                 Mexico   697663   73493   499302
7           South Africa   661211   15953   590071
8               Spain[i]   640040   30495  No data
9           Argentina[j]   631352   13053   488218
10             France[k]   453763   31585    91574
11              Chile[l]   446274   12286   419746
12                  Iran   422140   24301   359570
13     United Kingdom[m]   394257   41777  No data
14            Bangladesh   348918    4939   256565
15          Saudi Arabia   329754    4485   310439
16                  Iraq   319035    8555   253591
17              Pakistan   306304    6420   292869
18                Turkey   302867    7506   266117
19                 Italy   298156   35707   218351
20           Philippines   286743    4984   229865
21            Germany[n]   271244    9464   238681
22             Indonesia   244676    9553   177327
23             Israel[o]   187902    1256   134069
24            Ukraine[p]   178353    3583    78184
25             Canada[q]   143603    9217   124684
26               Bolivia   130676    7617    89617
27               Ecuador   124129   11044    97063
28                 Qatar   123376     210   120303
29            Romania[r]   112781    4435    89771
30    Dominican Republic   107770    2044    80820
31            Kazakhstan   107134    1671   101610
32                Panama   106203    2257    81365
33              Egypt[s]   102015    5770    89532
34            Morocco[t]   101743    1830    80732
35                Kuwait    99434     584    90168
36            Belgium[u]    97976    9936    19436
37                  Oman    93475     846    85418
38        Netherlands[v]    90047    6273  No data
39                Sweden    88237    5865  No data
40             Guatemala    85444    3119    74859
41              China[w]    85291    4634    80484
42  United Arab Emirates    84916     404    74273
43                Poland    79240    2293    64302
44              Japan[x]    78657    1500    71030
45               Belarus    75674     780    73265
46              Honduras    71616    2185    22065
47              Ethiopia    68820    1096    28314
48              Portugal    68025    1899    45404
49             Venezuela    65949     539    55155
50               Bahrain    64499     221    57299
51            Costa Rica    63712     706    23552
52                 Nepal    64122     411    46233
53             Singapore    57532      27    57039
54               Nigeria    57242    1098    48569
55            Uzbekistan    51789     435    47932
56               Algeria    49826    1672    35047
57        Czech Republic    49290     503    24755
58        Switzerland[y]    48795    1762    40400
59               Armenia    47431     930    42608

In [8]:
df.tail()

,Country,Cases,Deaths,Recovery
226,Saba,5,0,5
227,Anguilla,3,0,3
228,Tanzania[bf],No data,No data,No data
229,As of 21 September 2020 (UTC) · History of cas...,As of 21 September 2020 (UTC) · History of cas...,As of 21 September 2020 (UTC) · History of cas...,As of 21 September 2020 (UTC) · History of cas...
230,"Notes ^ Location: Countries, territories, and ...","Notes ^ Location: Countries, territories, and ...","Notes ^ Location: Countries, territories, and ...","Notes ^ Location: Countries, territories, and ..."

In [9]:
df.drop([229,230],inplace=True)

In [10]:
df.to_csv("covid19.csv")
df.to_excel("covid19.xlsx")
df.to_json("covid19.json")